
table, th, td {
    border: 1px solid black;
     
    
  }

  body{
    background-color: bisque;
    font-size: 20px;
    

  }
  .sortable{
    margin: auto;
  }
  h1{
    text-align: center;
  }
  .active {
    background-color: yellow;
    color: black;
  }
  
  .cascending {
    display: none;
  }
  
  .cdescending {
    display: none;
  }
  